@font-face {
    font-family: "Oswald";
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src:
        url("src/fonts/oswaldregular.woff2") format("woff2"),
        url("src/fonts/oswaldregular.woff") format("woff");
}

@font-face {
    font-family: "Oswald";
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src:
        url("src/fonts/oswaldmedium.woff2") format("woff2"),
        url("src/fonts/oswaldmedium.woff") format("woff");
}
  
body {
    font-family: "Oswald", "Arial", sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
  

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.header {
    background-image: url('/src/img/background-img.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    max-height: 100vh;
    background-size: cover;
}

@media (min-width: 768px) {
    .header {
        max-height: 1062px;
        background-image: url('/src/img/background-img.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        width: 100%;
        min-height: 600px;
        max-height: 1062px;
        position: relative;
        margin-bottom: 60px;
    }
}

@media (min-width: 768px) {
    .logo {
        height: 90px;
        width: 90px;
        margin: 0;
    }
}


.wrapper {
    margin: 0 auto;
}

@media (min-width: 768px) {
    .wrapper {
        max-width: 708px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1170px) {
    .wrapper {
        max-width: 1070px;
        padding-left: 16px;
        padding-right: 16px;
    }
}

.navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 30px;
    margin-left: 30px;
}

@media(min-width: 768px) {
    .navigation {
        display: block;
        -webkit-box-pack: normal;
            -ms-flex-pack: normal;
                justify-content: normal;
        padding-top: 30px;
        min-width: 768px;
        margin-left: 100px;
    }
}

.promotion {
    background-color: #D9D9D9;
    
}

.title {
    font-weight: 400;
    font-size: 48px;
    margin: 0 0 10px 30px;
}

@media(min-width: 768px) {
    .title {
        font-weight: 400;
        font-size: 48px;
        margin: 0 0 10px 97px;
    }
}

.features {
    margin: 0 0 0 30px;
}

@media(min-width: 768px) {
    .features {
        margin: 0 0 0 97px;
    }
}

.features__item {
    font-size: 28px;
    margin-bottom: 15px;
}

.benefits {
    margin: 0 auto;
    padding: 30px;
    width: calc(100vw/2);
    min-height: 30px;
    background-color: #D9D9D9;
}

@media (min-width: 768px) {
    .benefits {
        position: absolute;
        bottom: -40px;
        left: 25%;
    }
}
.benefits__item {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    line-height: 28px;
}

.benefits__item:nth-child(3) {
    margin-bottom: 10px;
}

.benefits__item--slogan {
    font-weight: 700;
    font-size: 28px;
}

.section-title {
    font-size: 32px;
    text-align: center;
    margin: 30px auto;
}

.projects__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

@media (min-width: 768px) {
    .projects__description {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-column-gap: 30px;
           -moz-column-gap: 30px;
                column-gap: 30px;
        margin-bottom: 30px;
    }
}

.projects__text {
    font-size: 16px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 280px;
    text-align: center;
}

@media (min-width: 768px) {
    .projects__text {
        font-size: 21px;
        min-width: 430px;
        max-width: 600px;
        text-align: justify;
    }
}

.preview__image {
    width: 280px;
    height: 150px;
    margin: 10px auto;
    -o-object-fit: scale-down;
       object-fit: scale-down;
}

@media (min-width: 768px) {
    .preview__image {
        -o-object-fit: cover;
           object-fit: cover;
        width: 500px;
        height: 300px;
    }
}

.promotion {
    padding: 30px;
    margin-bottom: 70px;
}

.promotion__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
}

@media (min-width: 768px) {
    .promotion__wrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 20px;
    }
}

.promotion__title {
    font-weight: 48px;
}

.promotion__text {
    margin-bottom: 30px;  
    text-align: center;
}

@media (min-width: 768px) {
    .promotion__text {
        margin-bottom: 0;
        text-align: start;
    }

}

.promotion__title--uppercase {
    text-transform: uppercase;
    margin-bottom: 10px;
}

.promotion__button {
    width: 175px;
    min-height: 49px;
    border: none;
    cursor: pointer;
    position: relative;
}

.promotion__button::before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    left: 21px;
    top: 17px;
    background-image: url(/src/img/order.svg);
    background-repeat: no-repeat;
}

.promotion__button:hover {
    color: tomato;
}

.promotion__button:active {
    background-color: white;
}

.about__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .about__list {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        -webkit-column-gap: 30px;
           -moz-column-gap: 30px;
                column-gap: 30px;
        row-gap: 30px;
    } 
}

.about__item {
    background-color: #F7F7F7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px;
    margin-bottom: 30px;
}

@media (min-width: 768px) {
    .about__item {
        background-color: #F7F7F7;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 30px;
        margin-bottom: 0;
    }
}

.contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 45px;
}

@media (min-width: 768px) {
    .contacts {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
}

.contacts__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-bottom: 30px;
}

.contacts__logo {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

.contacts__title {
    text-transform: uppercase;
    color: #999999;
    font-weight: 400;
    margin-bottom: 10px;
}

.contacts__address {
    text-align: center;
    font-weight: 700;
    line-height: 28px;
}

.contacts__tel {
    color: black;
    text-decoration: none;
    font-weight: 700;
    line-height: 28px;
}

.contacts__text {
    font-weight: 700;
    text-transform: uppercase;
    line-height: 28px
}

.contacts__email {
    font-weight: 700;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 28px;
}

.footer {
    background-color: #404149;
    padding: 20px;
}

.footer__text {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 10px;
}

/* modal */

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    max-width: 600px;
    max-height: 500px;

    color: #000;
    background-color: #fff;
    border-top: 7px solid #999;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 0px 4px 20px #000, .15;
            box-shadow: 0px 4px 20px #000, .15;
}

.modal::after {
    content:"";
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
    z-index:-1;
}

.modal--opened {
    display: block;
}

.modal--closed {
    display: none;
}

.modal-container {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.modal-feedback-form {
    width: 620px;
    height: 430px;
    display: none;
}

.modal-feedback-show {
    display: block;
    -webkit-animation: bounce 0.6s;
            animation: bounce 0.6s;
}

.modal-error {
    -webkit-animation: shake 0.6s;
            animation: shake 0.6s;
}

.feedback-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 40px;
}

.feedback-form p {
    margin: 0;
}

.feedback-form input {
    width: 220px;
    height: 38px;
    margin-bottom: 13px;
    margin-top: 11px;
    padding-left: 12px;
    padding-right: 12px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    font-size: 13px;
    border-radius: 2px;
    border: 2px solid #404149;
}

.input-name-container {
    text-align: center;
    width: 90%;
    padding: 0 20px;
}

.input-email-container {
    text-align: center;
    width: 90%;
    padding: 0 20px;
}

.input-feedback-container {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
    padding: 0 20px;
}

.input-name {
    width: 100%;
}

.modal-button-bg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 112px;
    width: 100%;
    padding: 0;
    background-color: #D9D9D9;
}

.modal-button {
    cursor: pointer;
    background-color: #f0f0f0;
    width: 280px;
    min-height: 38px;
    padding: 0;
    border: none;
    margin: 38px 0;
}

.modal .disabled,
.modal .disabled:hover,
.modal .disabled:active {
    background-color: #454545;
    cursor: default;
    top: 0;
    -webkit-box-shadow: 0 3px 0 #144A18;
            box-shadow: 0 3px 0 #144A18;
}

.modal-button:hover {
    color: tomato;
}

.modal-button:active {
    background-color: white;
}

/* Modal close */

.modal-close {
    position: absolute;
    cursor: pointer;
    top: 14px;
    right: 11px;
    border: none;
    width: 21px;
    height: 21px;

    background-image: url(/src/img/icon-close.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-color: transparent;
}

.input-name._error,
.input-email._error,
.input-tel._error {
    -webkit-box-shadow: 0 0 7px red;
            box-shadow: 0 0 7px red;
}